.reviews {
    padding: 47px 40px;
    border-bottom: 1px solid #fff;
    padding-bottom: 48px;
    h2 {
        padding-left: 20px;
        margin-bottom: 15px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
        border-left: 4px solid #618967;
    }
    .reviews__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    button {
        margin-top: 40px;
        width: 720px;
        height: 59px;
        background: #618967;
        border-radius: 15px;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: #ffffff;
        border: 0;
    }
    .review__item {
        img {
            margin-right: 16px;
            margin-bottom: 16px;
        }
    }
    }
}