.sign-in {
    width: 100%;
    background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
    
    .sign-in-form {
        width: 750px;
        height: 697px;
        background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
        border-radius: 20px;
    }
}