.sign-button {
    button {
        text-align: center;
        border: none;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
        width: 247px;
        height: 60px;
        background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
        border-radius: 10px;
        cursor: pointer;
    }
}