.cafe-menu {

    margin-top: 24px;
    margin-left: 274px;
    
    button {
        width: 511px;
        height: 71px;
        border: 0;
        background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
        border-radius: 10px;
        color: #fff;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 0.03em;
    }
}