@media screen and (max-width: 390px) {
    header {
        position: relative;
        padding: 10px 0 80px 0;
        .burger__menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 26px;
            cursor: pointer;
            .burger {
                width: 25px;
                height: 15px;
                position: relative;
            }

            .burger span {
                position: absolute;
                width: 25px;
                height: 3px;
                top: 6px;
                background-color: #65906c;
                border-radius: 50px;
            }

            .burger::before {
                content: "";
                position: absolute;
                top: 0;
                width: 25px;
                background-color: #65906c;
                height: 3px;
                border-radius: 50px;
            }

            .burger::after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 25px;
                background-color: #65906c;
                height: 3px;
                border-radius: 50px;
            }
            h3 {
                margin: 5px 0 0 0;
                font-family: "Gilroy";
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #fff;
                text-transform: uppercase;
            }
        }
        .logo {
            margin-left: 70px;
            margin-right: 60px;
        }

        .form__input {
            width: 40%;
            min-width: 345px;
            position: absolute;
            top: 90px;
            margin: 0 15px;
        }

        .telefon {
            display: none;
        }
        .profil {
            display: none;
        }
        .basket {
            flex-direction: column-reverse;
            width: 62px;
            height: 56px;
            margin: 0 15px 0 0;
            padding: 7px;
            font-size: 12px;
            line-height: 14px;
            text-transform: lowercase;
            background: url('../../assets/buy.svg') no-repeat 50% 10%, linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
            .vert__line {
                width: 100%;
                margin: 6px 0 2px 0;
                border-left: 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            }
            .quantity {
                display: none;
            }
        }
    }
}

// 768
