.container {
  max-width: 600px;
  margin: 6rem auto 4rem;
  padding: 0 10px;
}

.accordion_item {
  list-style: none;
}

.heading {
  font-size: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.accordion {
  list-style: none;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 618px;
  height: 68px;
  margin-top: 10px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  border-radius: 10px;
  border: 0;
  color: #fff;
  padding: 0 22px 0 30px;
  cursor: pointer;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 18px;
}

.control {
  width: 24px;
  height: 24px;
}

.content {
  padding: 40px 30px;
  width: 618px;
  height: 142px;
  background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

/* activate toggle */

.answer_wrapper {
  height: 0;
  overflow: hidden;
}
.answer_wrapper.open {
  height: auto;
}
