.footer {
    display: flex;
    align-items: center;
    height: 195px;
    background: linear-gradient(270.7deg, #44403f 0.4%, #211f20 100%);
    .footer__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        background: #ffffff;
        border-radius: 100%;
        margin-right: 55px;
        margin-left: 40px;
    }
    .footer__config {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #cfcfcf;
            margin-bottom: 5px;
        }
        a {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #ffffff;
            text-decoration: none;
        }
        a:last-child {
            margin: 0;
        }
    }
    ul {
        display: flex;
        li {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
            list-style: none;
            margin-right: 30px;
        }
        li:last-child {
            margin: 0;
        }
    }
}
