* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards {
    padding: 47px 40px;
    border-bottom: 1px solid #fff;
    padding-bottom: 48px;
    h2 {
        padding-left: 20px;
        margin-bottom: 15px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
        border-left: 4px solid #618967;
    }
    .cards__list {
        display: flex;
        .card__item {
            margin-right: 16px;
            margin-bottom: 16px;
            width: 325px;
            height: 385px;
            background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
            border-radius: 10px;
            color: #fff;
            .card__descr {
                margin: 15px 16px 18px 20px;
                .card__title {
                    margin-bottom: 5px;
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;
                    h3 {
                        font-family: "Gilroy", sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 27px;
                    }
                    p {
                        font-family: "Gilroy", sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
                .card__description {
                    font-family: "Gilroy", sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 17px;
                    color: #cfcfcf;
                    margin-bottom: 15px;
                }
        
                .card__price-btn {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h3 {
                        font-family: "Gilroy", sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
                        color: #ffffff;
                    }
                    button {
                        width: 137px;
                        height: 44px;
                        border: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: "Gilroy", sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                        color: #fff;
                        background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
                        border-radius: 10px;
                        img {
                            margin-left: 12px;
                        }
                    }
                }
            }
        }
    }
}
