@media screen and (max-width: 375px) {
  .accordion_item {
    min-width: 345px;
  }
  .button {
    padding: 15px 20px;
    max-width: 345px;
    font-size: 14px;
    line-height: 22px;
    text-align: start;
  }
  
}
